.titulo_{
    /*font-family: var(--rio_oro_bold);

    /*font-size: 100px;*/
    color: var(--text-color);
    margin-top: 40vh;
    /*padding-left: 50px;
    /*text-shadow: 5px 5px 10px rgb(250, 245, 245);*/
}

.subtitulo_{
    /*font-family: var(--sensations);*/
    font-size: 50px;
    color: var(--text-color);
    text-align: center;
    margin-top: 5px;
    /*text-shadow: 5px 5px 5px rgba(63, 62, 62, 0.9);*/
}

.text-justify {
    text-align: justify;
}

.padding-top{
    /*border: 2px solid red;*/
    padding-top: 8%;
    /*height: 100vh;*/
}

.padding-top-tienda{
    /*border: 2px solid red;*/
    padding-top: 4%;
    /*height: 100vh;*/
}

.padding-top-galeria{
    /*border: 2px solid red;*/
    padding-top: 3%;
    /*height: 100vh;*/
}


.about_back{
    background-image: url(/src/assets/back_about.png);
    background-size: cover;
    
}

.space_padding{
    padding-top: 5%;
    padding-bottom: 5;
}

.borde{
    border: solid 1px var(--border-color);
}

.padding_bootom{
    padding-bottom: 5%;
}

.border_card{
    border-radius: 50% 0 50% 0;
}

.img_perfil{
    aspect-ratio: 1;
    max-width: 400px;
}

.btn-wsp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.btn-wsp img {
    width: 80px;
    height: auto;
}


@media (max-width: 768px){
    .titulo_{
        font-size: 70px;
        margin-top: 20vh;
    }

    .padding-top{
        padding-top: 20%;
    }

    .padding-top-contact{
        padding-top: 17%;
    }

    .img_perfil{
        max-width: 250px;
        aspect-ratio: 1;
    }
}