.titulo_{
    /*font-family: var(--rio_oro_bold);

    /*font-size: 100px;*/
    color: var(--text-color);
    margin-top: 40vh;
    /*padding-left: 50px;
    /*text-shadow: 5px 5px 10px rgb(250, 245, 245);*/
}

@media (max-width: 768px){
    .titulo_{
        font-size: 70px;
    }
}

.subtitulo_{
    /*font-family: var(--sensations);*/
    font-size: 50px;
    color: var(--text-color);
    text-align: center;
    margin-top: 5px;
    /*text-shadow: 5px 5px 5px rgba(63, 62, 62, 0.9);*/
}

.text-justify {
    text-align: justify;
}