@font-face {
    font-family: 'Seven';
    src: url('/src/assets/fonts/Seven.TTF') format('truetype');
}

@font-face {
    font-family: 'Prototype';
    src: url('/src/assets/fonts/Prototype.ttf');
}

@font-face {
    font-family: Sensations;
    src: url('/src/assets/fonts/Sensations.ttf') format('truetype');
}

@font-face {
    font-family: Le Jour Script;
    src: url('/src/assets/fonts/Le-Jour-Script.otf') format('opentype');
}

@font-face {
    font-family: Rio Grande;
    src: url('/src/assets/fonts/RioGrande.ttf') format('truetype');
}

@font-face {
    font-family: Old Town Regular;
    src: url('/src/assets/fonts/Old-Town-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Bleeding Cowboys;
    src: url('/src/assets/fonts/bleeding_cowboys.ttf') format('truetype');
}

@font-face {
    font-family: 'Rio Oro Bold';
    src: url('/src/assets/fonts/Rio-Oro-Bold.otf') format('truetype');
}


:root {

    /*COLORS*/
    --dark-primary-color: #1976D2;
    --light-primary-color: #BBDEFB;
    --primary-color: #2196F3;
    --text-color: #FFFFFF;
    --accent-color: #00BCD4;
    --primary-text-color: #212121;
    --secundary-text-color: #757575;
    --divider-color: #BDBDBD;

    --actionBar-color: rgba(0, 0, 0, 0.5);
    --menu-color: rgba(255, 255, 255, 0.866);

    /*SIZES*/
    --text: 25px;




    /*FONTS*/
    --seven: 'Seven', sans-serif;
    --prototype: 'Prototype', sans-serif;
    --sensations: 'Sensations', sans-serif;
    --le_your_script: 'Le Jour Script', sans-serif;
    --rio_grande: 'Rio Grande', sans-serif;
    --old_town: 'Old Town Regular', sans-serif;
    --bleeding_cowboys: 'Bleeding Cowboys', sans-serif;
    --rio_oro_bold: 'Rio Oro Bold', sans-serif;
}